.pa {
    font-weight: bold;
    margin-left: 5px;
}

#photos {
    text-align: center;
    width: auto;
    margin-right: 200px;
    margin-left: 200px;
}
#photos img {
    margin-right: 10px;
    border: solid black;
}