.cimg {
    width: 400px;
    height: 200px;
    display: inline-block;
    position: absolute;
    top: 0px;
    border-right: solid black;
}

section {
    display: inline-block;
}

.artbor {
    display: inline-block;
    border: solid black;
    height: 200px;
    width: 800px;
    text-align: left;
}

h1 {
    text-align: center;
}

nav a {
    text-decoration: none;
    border: solid #1F8BFF;
    color: rgb(65,65,65);
    font-weight: bold;
    padding: 2px;
    border-radius: 8px;
}
 nav ul li {
     display: inline-block;
     margin: 30px;
 }

 nav ul {
     text-align: center;
 }

 .imgp {
     display: inline-block;
     position: absolute;
     top: 0px;
     margin-left: 7px;
     font-weight: bold;

 }

 .secp {
     position: relative;
     width: 390px;
     height: 390px;
 }

 footer {
     text-align: center;
     border: 2px solid black;
     background-color: hsl(211, 100%, 56%);
     height: 105px;
     opacity: 0.8;
     line-height: 20%;

 }
 footer ul li {
     display: inline-block;
     margin: 20px;
 }
 footer ul li a {
     text-decoration: none;
 }


 #logo {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 hr {
    border: 4px solid hsl(211, 100%, 56%);
    width: 800px;
    border-radius: 5px;
    opacity: 0.7;
 }

 * {
    font-family: "Lucida Console", Courier, monospace;
    ;
  }
  